<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheResultFile=".build/phpunit.result.cache"
         colors="true"
         verbose="true"
>
	<coverage>
		<include>
			<directory suffix=".php">./src</directory>
		</include>
		<report>
			<clover outputFile=".build/coverage/clover.xml"/>
			<xml outputDirectory=".build/coverage/coverage-xml"/>
		</report>
	</coverage>
	<testsuites>
		<testsuite name="php-database test suite">
			<directory suffix=".php">./tests</directory>
			<exclude>./tests/Drivers/PDOFirebirdTest.php</exclude>
			<exclude>./tests/Drivers/MSSqlSrvTest.php</exclude>
			<exclude>./tests/Drivers/PDOMSSqlSrvTest.php</exclude>
			<exclude>./tests/Drivers/MySQLiTest.php</exclude>
			<exclude>./tests/Drivers/PDOMySQLTest.php</exclude>
			<exclude>./tests/Drivers/PostgreSQLTest.php</exclude>
			<exclude>./tests/Drivers/PDOPostgreSQLTest.php</exclude>
		</testsuite>
	</testsuites>
	<logging>
		<junit outputFile=".build/logs/junit.xml"/>
	</logging>
	<php>
		<!-- whether the test runs on CI or not - set to false to allow tests to run in your local setup -->
		<const name="TEST_IS_CI" value="true"/>
		<!-- the config directory, where .env, cacert.pem and test oauth tokens reside, relative from project root -->
		<const name="TEST_CFGDIR" value="./config"/>
		<!-- the filename of your .env file -->
		<const name="TEST_ENVFILE" value=".env_travis"/>
	</php>
</phpunit>
