<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheDirectory=".build/phpunit.cache"
         colors="true"
         beStrictAboutCoverageMetadata="true"
>
	<testsuites>
		<testsuite name="php-database test suite">
			<directory>tests</directory>
		</testsuite>
	</testsuites>
	<source>
		<include>
			<directory>src</directory>
		</include>
	</source>
	<coverage>
		<report>
			<clover outputFile=".build/coverage/clover.xml"/>
			<xml outputDirectory=".build/coverage/coverage-xml"/>
		</report>
	</coverage>
	<groups>
		<exclude>
			<group>firebird</group>
			<group>pgsql</group>
			<group>mssql</group>
			<group>mysql</group>
		</exclude>
	</groups>
	<php>
		<!-- whether the test runs on CI - set to false to allow tests to run in your local setup -->
		<const name="TEST_IS_CI" value="true"/>
		<!-- the config directory, where .env, cacert.pem and test oauth tokens reside, relative from project root -->
		<const name="TEST_CFGDIR" value="./config"/>
		<!-- the filename of your .env file -->
		<const name="TEST_ENVFILE" value=".env_travis"/>
	</php>
</phpunit>
